header{
    background-color: #7d234a;
    text-align: center;
    padding: 5px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #F9E6EC;
    color:  #8b505C;;
}
h2{
    color:  #7D2348;
}
p{
    color:   #8b505C;
}
header h1{
     color: azure;
}
header p{
    color:#F3C3C5;
}
#about{
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.about-text{
    padding-right: 30px;
    text-align: center;
    margin-top: 150px;
    margin-left: 200px;
}
.about-image{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:100px;
    margin-right: 50px;
   
}
.about-me {
    text-align: center;
}
.about-me h2{
    color: #7D2348;
}
.about-me p{
    color: #8b505C;
    text-align: center;
    margin: auto;
    max-width: 900px;
    padding: 0 20px;
}
#continfo{
    background-color: #F3C3C5;
    color:  #8b505C;
}
footer{
    background-color: #7D234a;
    padding: 5px;
    text-align: center;
}
footer p{
    color: azure;
}
@media (max-width:768px)
 {
.about-text,.about-image,.about-me,#continfo{
    margin: 0;
    padding: 10px;
    text-align: center;
}
#about{
    flex-direction:column;
}
.about-imgage img {
    width: 50%;
    height : auto;
    margin : 10px auto;
}
}
