nav ul{
    list-style: none;
    display: flex;
    justify-content :center;
    gap: 50px;
    padding: 0;
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
nav a{
    text-decoration : none;
    color: azure;
}
header{
    background-color: #7d234a;
    padding: 20px;
}
.Home {
    background-color : #F3C3C5;
    padding: 20px;
    margin: 0;
}
.Home h1{
    text-align: left;
    color: #7d2348;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Home p{
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
    background-color: #F9E6EC;
    color: #8b505C;
}
body h2{
    color:  #7D2348;;
}
.about-row {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
#About-text{
    padding-right: 30px;
    text-align: center;
    margin-top: 150px;
    margin-left: 200px;
}
#About-image{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left:100px;
    margin-right: 50px; 
}
#About-me {
    text-align: center;
}
#About-me h2{
    color: #7D2348;
}
#About-me p{
    color: #8b505C;
    text-align: center;
    margin: auto;
    max-width: 900px;
    padding: 0 20px;
}
.continfo{
    background-color: #F3C3C5;
    color:  #7d234a;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer{
    background-color: #7D234a;
    padding: 5px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
footer p{
     color: azure;
}
#menu-btn{
    display: none;
}
@media (max-width:768px)
{
#About-text,#About-image,#About-me,.continfo,header,.Home{
    margin: 0;
    padding: 10px;
    text-align: center;
}
.about-row{
    flex-direction:column;
}
#About-image img {
    width: 50%;
    height : auto;
    margin : 10px auto;
}
#menu-btn{
    display: block;
    margin-left: auto;
    width: auto;
    height: auto;
    padding: 8px 12px;
    color:  azure;
    background-color: transparent;
    border: none;
}
nav{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
#nav-links{
    display: none;
}
#nav-links.active{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color:  #7d234a;
}

}
html{
    scroll-behavior: smooth;
}
